/* Larger than mobile */
@media (min-width: 400px) {
    .calculator {
        max-width: 90%;
    }
}

/* Larger than phablet (also point when grid becomes active) */
@media (min-width: 550px) {
    .calculator {
        max-width: 80%;
    }
}

/* Larger than tablet */
@media (min-width: 750px) {
    .calculator {
        max-width: 333px;
    }
}

/* Larger than desktop */
@media (min-width: 1000px) {
    .calculator {
        max-width: 333px;
    }
}

.calculator {
    margin: auto;
    max-width: 80%;
}

.inputForm input {
    margin-bottom: 2rem;
    height: 2rem;
    width: 100%;
}

.inputForm input::placeholder {
    color: red;
    font-weight: bold;
}

.inputForm label {
    font-size: 1.5rem;
    font-weight: bold;
    text-transform: uppercase;
}

.buttons button {
    width: 100px;
    height: 45px;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    font-size: 16px;
    text-transform: uppercase;
}

.buttons > .lang {
    float: right;
}

.alert {
    margin-top: 1rem;
    font-size: 1rem;
    color: red;
    text-align: center;
}
